In [1]:
# importamos librerias necesarias.
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st
from scipy.stats import f_oneway
from scipy.stats import ttest_ind
import os
from dotenv import find_dotenv, load_dotenv
load_dotenv(find_dotenv())

True

In [2]:
# usaremos los mismos datos de examenes de "math","reading" y "writing"

exam = pd.read_csv(os.environ["EXAM"])

In [3]:
exam.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
5,female,group D,high school,standard,none,63,77,76
6,female,group A,bachelor's degree,standard,none,62,59,63
7,male,group E,some college,standard,completed,93,88,84
8,male,group D,high school,standard,none,63,56,65
9,male,group C,some college,free/reduced,none,47,42,45

# t de Student

Standar error

SE = $\frac{\sigma}{\sqrt{N}}$

In [4]:
# Primero calculamos el error standar.
# elegimos dos variables numericas en este caso "math score" y "reading score" y comparamos ambas variables

se_math = exam.std()["math score"] / np.sqrt(10)
se_reading = exam.std()["reading score"] / np.sqrt(10)

C:\Users\josue\AppData\Local\Temp\ipykernel_10304\330996866.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  se_math = exam.std()["math score"] / np.sqrt(10)
C:\Users\josue\AppData\Local\Temp\ipykernel_10304\330996866.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  se_reading = exam.std()["reading score"] / np.sqrt(10)

Standar error deviation

SED = $\sqrt{\frac{\sigma^2_1}{N_1}+\frac{\sigma^2_1}{N_2}}$

In [6]:
sed = np.sqrt((se_math ** 2)+(se_reading ** 2))

t de Student

t = $\frac{(\hat{x_1}-\hat{x_2})}{SED}$

t = $\frac{(x_1-x_2)}{\sqrt{\frac{\sigma^2_1}{N_1}+\frac{\sigma^2_1}{N_2}}}$

In [7]:
t_stat = (exam.mean()["math score"]-exam.mean()["reading score"]) / (sed)
t_stat

C:\Users\josue\AppData\Local\Temp\ipykernel_10304\3222431581.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  t_stat = (exam.mean()["math score"]-exam.mean()["reading score"]) / (sed)

-0.38657897553250387

In [8]:
p = ttest_ind(exam["math score"], exam["reading score"])
p

Ttest_indResult(statistic=-3.8657897553250367, pvalue=0.00011426828023100683)

t_stat es mayor a nuestro valor crítico pvalue, por lo cual podemos decir que las distribuciones son diferentes.
por lo cual podemos rechazar la hipotesis nula del inicio, en la que suponemos que las distribuciones son similares.

# Coeficiente y correlación de Pearson

In [11]:
#primero buscamos la correlación de las dos variables que estabamos estudiando

exam["math score"].corr(exam["reading score"])

0.8193975445486524

Existe una correlación alta entre las dos variables

In [12]:
st.pearsonr(exam["math score"],exam["reading score"])

PearsonRResult(statistic=0.8193975445486523, pvalue=1.9839706737613226e-243)

Podemos ver que el pvalue es mucho menor al statistic, esto nos hace tomar la decisión de rechazar la hipotesis nula, ya que no existe una correlación entre ambas variables.

# ANOVA (análisis de varianza)

In [13]:
f_oneway(exam['math score'], exam['reading score'])

F_onewayResult(statistic=14.944330432376077, pvalue=0.00011426828023096097)

Como el pvalue es mucho menor al statistic podemos rechazar la hipotesis nula de que las medias entre ambas varianzas sean similares.
No podemos decir que las distribuciones son similares.